name: create-auto-integration-pr
on:
  workflow_call:
    inputs:
      organization:
        type: string
        default: deepin-community
      repository:
        type: string
        default: Repository-Integration
      integrationrepo:
        type: string
        default: undefined
      tagsha:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      organization:
        type: string
        default: peeweep-test
      repository:
        type: string
        default: Repository-Integration
      integrationrepo:
        type: string
        default: "deepin-community/glider"
      tagsha:
        type: string
        default: "c80020aefa9699f51944e07b1ae02d606a6b25fc"

env:
  APP_ID: ${{ secrets.INTEGRATION_APP_ID }}
  APP_PRIVATE_KEY: ${{ secrets.INTEGRATION_APP_PRIVATE_KEY }}
  organization: ${{ inputs.organization }}
  repository: ${{ inputs.repository }}

jobs:
  auto-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: "${{ inputs.organization }}/${{ inputs.repository }}"

      - name: Install depends for load scripts
        run: |
          npm install js-yaml
          npm install @octokit/rest
          npm install @octokit/auth-app

      - name: Get integration app token
        id: integration_token
        uses: actions/github-script@v6
        with:
          script: |
            const { Octokit } = require("@octokit/rest");
            const { createAppAuth } = require("@octokit/auth-app");
            const appOctokit = new Octokit({
              authStrategy: createAppAuth,
              auth: {
                appId: process.env.APP_ID,
                privateKey: process.env.APP_PRIVATE_KEY,
              }
            });
            const app_installation = await appOctokit.rest.apps.getRepoInstallation({
              owner: process.env.organization,
              repo: process.env.repository
            });
            const { token } = await appOctokit.auth({
              type: "installation",
              installationId: app_installation.data.id
            });
            core.setOutput('app_token', token)

      - name: Integration config
        uses: actions/github-script@v6
        id: integration-config
        # workflow_dispatch event used for manual trigger workflow
        if: startsWith(github.event.comment.body, '/integrate') || github.event_name == 'workflow_dispatch'
        with:
          script: |
            // find auto integration branch
            const BOT_NAME = "AutoIntegrationPr Bot"
            const COMMENT_HEAD = "**" + BOT_NAME + "**\n"
            auotintegrationbranch = "auto-integration-${{ github.run_id }}"

            if ( context.issue.number != undefined ) {
              const response = await github.rest.issues.listComments({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                per_page: 100,
              })
              const reg = new RegExp("\\*+" + BOT_NAME + "\\*+")
              botComment= response.data.find(comment => comment.body.match(reg))
              if (botComment) {
                comments = botComment.body.split("\n")
                core.debug(botComment)
                // console.log(comments.length)
                if (comments.length > 3) {
                  auotintegrationbranch = comments[3].replace("PrBranch: ", "")
                  console.log("auotintegrationbranch: " + auotintegrationbranch)
                }
              }
            }

            const comment_body = "${{ github.event.comment.body }}"
            const organization = "${{ inputs.organization }}"
            const repository = "${{ inputs.repository }}"
            let topic = "undefined"
            integrationrepo = "${{ inputs.integrationrepo }}"
            tagsha = "${{ inputs.tagsha }}"

            let milestone = 'v23-Beta'
            // example: integrate v23-Beta dtk-v23-test
            const nameGroup = comment_body.match(/\/integrate (\S+)/)
            if (nameGroup && nameGroup.length > 1) {
              milestone = nameGroup[1]
              if (nameGroup.length > 2) {
                topic = nameGroup[2]
                // 带topic参数直接指定分支，保证后续多个项目同topic集成时一起修改intergration.yml
                console.log("Use topic: ", topic, " to auto integrate")
                auotintegrationbranch = "auto-integration-topic-" + topic
              }
            }

            // genarate integration.yml
            const yaml = require('js-yaml')
            const fs = require('fs')

            integrationContent = yaml.load(fs.readFileSync('integration.yml'), 'utf8')
            integrationContent.message = "Integrated for " + milestone
            integrationContent.milestone = milestone
            if (topic != "undefined") {
              integrationContent.topic = topic
            }

            exampleindex = integrationContent.repos.map((item) => item.repo).indexOf("linuxdeepin/examplerepo")
            repoindex = integrationContent.repos.map((item) => item.repo).indexOf(integrationrepo)
            if (topic != "undefined" && exampleindex < 0 && repoindex > 0) {
              integrationContent.repos[repoindex] = {repo: integrationrepo, order: 0, tagsha: tagsha}
            } else {
              integrationContent.repos[0] = {repo: integrationrepo, order: 0, tagsha: tagsha}
            }

            fs.writeFile('integration.yml', yaml.dump(integrationContent, {
                                              'sortKeys': false        // sort object keys
                                            }), (err) => {
                if (err) {
                    console.log(err);
                }
            });

            console.log("finally auotintegrationbranch: " + auotintegrationbranch)
            core.setOutput('branch', auotintegrationbranch)
            core.setOutput('prnumber', context.issue.number)

      - name: Remove node_modules dir
        run: |
          rm -rf node_modules package-lock.json package.json

      - name: Create or update integration pr
        uses: peter-evans/create-pull-request@v4
        id: cpr
        with:
          token: ${{ steps.integration_token.outputs.app_token }}
          branch: ${{ steps.integration-config.outputs.branch }}
          title: "auto integration ${{ inputs.integrationrepo }}"
          body: "auto integration from pr https://github.com/${{ github.repository }}/pull/${{ steps.integration-config.outputs.prnumber }}."
          commit-message: "chore: Update integration.yml"
          committer: github-actions <github-actions@users.noreply.github.com>
          signoff: true
          delete-branch: true

      - name: Link integration pr
        uses: actions/github-script@v6
        with:
          script: |
            const BOT_NAME = "AutoIntegrationPr Bot"
            const COMMENT_HEAD = "**" + BOT_NAME + "**\n"

            let COMMENT_BODY = ""
            COMMENT_BODY += "auto integrate with pr url: ${{ steps.cpr.outputs.pull-request-url }}\n"
            COMMENT_BODY += "PrNumber: ${{ steps.cpr.outputs.pull-request-number }}\n"
            COMMENT_BODY += "PrBranch: ${{ steps.integration-config.outputs.branch }}\n"

            if ( context.issue.number != undefined ) {
              const response = await github.rest.issues.listComments({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number
              })
              const reg = new RegExp("\\*+" + BOT_NAME + "\\*+")
              BotComment= response.data.find(comment => comment.body.match(reg))
              if (BotComment) {
                await github.rest.issues.updateComment({
                    comment_id: BotComment.id,
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    body: COMMENT_HEAD + COMMENT_BODY
                })
              } else {
                await github.rest.issues.createComment({
                    issue_number: context.issue.number,
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    body: COMMENT_HEAD + COMMENT_BODY
                })
              }
            }
