name: Backup all repos to gitee on a schedule
on:
  schedule:
    - cron: "0 21 * * *"
  workflow_dispatch:

jobs:
  backup:
    if: github.repository_owner == 'linuxdeepin'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: bash ".github/workflows/backup-all-repos-to-gitee.bash" linuxdeepin ${{ secrets.GITEE_SYNC_TOKEN }}
